// SideBar
.navbar-vertical {
  .navbar-nav {
    .nav-link {
      padding: 0.875rem 1rem;
      font-size: 1rem;
      color: #585757;
      display: flex;
      align-items: center;
      border-radius: 0.5rem;

      svg {
        fill: #a0aec0;
      }

      &:hover,
      &:active,
      &.active,
       &.active a
       {
        color: #1c1c1c !important;
        background: linear-gradient(0deg,
            rgba(73, 191, 170, 0.1),
            rgba(73, 191, 170, 0.1)),
          #ffffff;

        svg {
          fill: #49bfaa;
        }
      }
    }

    .nav-head {
      padding: 0.875rem 1rem;
    }
  }
}

.drop-gray {
  &::after {
    color: $gray96;
    border-top: 0.4em solid;
    border-left: 0.4em solid transparent;
    border-right: 0.4em solid transparent;
  }
}

//Login
.otp-input {
  .form-control {
    background-color: #f0f0f0;
    font-size: 1.5rem;

    &:focus {
      background-color: #fff;
      border: 1px solid #e3e5e5;
      filter: drop-shadow(0px 0px 4px #5d4037);
      box-shadow: none;
    }
  }
}

.root-login {
  max-width: 424px;
}

//Country Select
// .country-select {
//   border: 1px solid #e3e5e6;
//   padding-left: 1px;

//   .input::placeholder{
//     font-weight: 500;
//     color: #B4B6B8;
//     font-size: 16px;
//   }

//   .react-tel-input {
//     width: 140px;

//     .form-control-lg {
//       pointer-events: none;
//       min-height: 44px;
//     }

//     .selected-flag {
//       .arrow {
//         top: 2px;
//         content: "";
//         display: inline-block;
//         left: 65px;
//         width: 7px;
//         height: 7px;
//         border-left: 0em;
//         border-right: 0.1em solid black;
//         border-top: 0.1em solid black;
//         transform: rotate(135deg);
//         margin-right: 0.5em;
//         margin-left: 0.5em;
//         transition: 0.3s ease-in-out;

//         &.up {
//           transform: rotate(320deg);
//           top: 5px;
//           border-bottom: 0em;
//         }
//       }
//     }
//   }
// }
.was-validated {
  .form-control:valid{
   background-image: none;
  }
  .country-select {
    .react-tel-input {
      border-color: #E90909;
    }
  }
  .otp-input:valid {
    border-color: #E90909;
  }
  .email-input:valid{
    border-color: #E90909;
  }
}


.country-select {
  .react-tel-input {
    border: 1px solid #E3E5E6;
    padding-left: 1px;

    .input::placeholder {
      font-weight: 500;
      color: #B4B6B8;
      font-size: 16px;
    }

    .selected-flag {
      .arrow {
        top: 2px;
        content: "";
        display: inline-block;
        width: 7px;
        height: 7px;
        border-left: 0em;
        border-right: 0.1em solid black;
        border-top: 0.1em solid black !important;
        transform: rotate(135deg);
        margin-right: 0.5em;
        margin-left: 0.5em;
        transition: 0.3s ease-in-out;

        &.up {
          transform: rotate(320deg);
          top: 5px;
          border-bottom: 0em;
        }
      }

      .form-control-lg {
        min-height: 44px;
      }
    }

    .form-control-lg {
      min-height: 44px;
    }
  }
}

.head-tab {
  background-color: #fff;

  .nav-link {
    font-weight: 600;

    &.active {
      color: #1a202c;
    }
  }
}

.filter-drop {
  .dropdown-toggle::after {
    display: none;
  }

  .dropdown-menu {
    min-width: 19.375rem;
  }
}

.login-bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-check {
  border: 1px solid $white;
  max-width: 426px;
}

.table-data {
  th {
    box-shadow: inset 0px -1px 0px #edf2f7;
  }
}

.day-filter {
  .nav-link {
    &.active {
      .btn-neutral {
        color: #5c60f5;
      }
    }
    .btn-neutral{
      border-radius: 0px;
    }
  }
  div{
    &:first-child{
      .btn-neutral{
        border-radius: 6px 0px 0px 6px;
      }
    }
    &:last-child{
      .btn-neutral{
        border-radius: 0px 6px 6px 0px;
      }
    }
  }
}

.S9gUrf-YoZ4jf{
  opacity: 0;
  iframe{
    width: 64px !important;
    margin: 0px !important;
  }
}
.btn-login{
  height: 44px;
  > div{
    height: 44px !important;
    position: absolute;
    top: -2px;
    left: -13px;
    z-index: 999;
  }
}

//Modal
.modal-tab {
  .nav-item {
    margin: 0rem;

    .nav-link {
      padding: 1.25rem;
    }
  }
}

.css-1fdsijx-ValueContainer {
  padding: 0px 16px !important;
}

.css-1jqq78o-placeholder {
  color: #b5b5bd !important;
}

.css-6buz2h-control {
  border-radius: 6px !important;
  box-shadow: 0px 1px 2px rgba(50, 50, 71, 0.08),
    0px 0px 1px rgba(50, 50, 71, 0.2) !important;
}

.member-select{
  .css-1im77uy-control, .css-6buz2h-control{
    border: 1px solid #E7EAF0 !important;
    min-height: 44px !important;
  }
}

.css-1im77uy-control {
  border-radius: 6px !important;
  box-shadow: 0px 1px 2px rgba(50, 50, 71, 0.08),
    0px 0px 1px rgba(50, 50, 71, 0.2);
    border: 0px !important;
}

.css-qbdosj-Input {
  display: flex !important;
  padding-top: 1px;
  padding-bottom: 1px;

  &::after {
    display: inline-block;
    margin: auto !important;
    vertical-align: 0.255em;
    content: "" !important;
    visibility: visible !important;
    // border-top: 0.3em solid !important;
    // border-right: 0.3em solid transparent !important;
    // border-bottom: 0 !important;
    // border-left: 0.3em solid transparent !important;
    background-image: url(../images/arrow.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 12px;
    min-width: 12px !important;
  }
}

.css-1hb7zxy-IndicatorsContainer {
  display: none !important;
}

//Edit Modal
.btn-close {
  opacity: 1;
}

.input {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


//Message Sidebar
.sidebar {
  .caption {
    color: rgba(0, 0, 0, 0.5);
  }

  .sidebar-text {
    color: rgba(0, 0, 0, 0.38);
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
  }
  .msg-avtar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #BDBDBD;
    border-radius: 50%;
  }
  .msg-content{
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
  .text-trunc{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 120px;
  }
}

.chat {
  .chat-box {
    max-width: 244px;
    font-size: 14px;
  }
  .chat-right {
    display: flex;
    justify-content: flex-end;

    .bg-user {
      background-color: #742ddd;
      color: #fff;
    }

    .chat-check {
      &.active {
        color: #259c72;
      }
    }
  }

  .chat-list {
    --x-h: 135px;

    li {
      margin: 8px 0px;
    }
  }
}

// .toast-message {
//   width: 60px;
//   height: 60px;
//   border-radius: 70px;
//   background: #66CB9F;
//   justify-content: center;
//   align-items: center;
//   display: flex;

//   .toast-arrow {
//     height: 24px;
//     width: 24px;
//   }
// }

.toastContainer {
  margin-top: 135px;
  width: 450px;
}
 .btn-upload{
background: transparent;
border: none;
color: #16192C;
box-shadow: none;
 }
.pagination {
  .page-item {
    &.disabled {
      .page-link{
          opacity: 0.5;
        }
    }
    .page-link {
      padding: 12px 16px;
      span {
        font-size: 23px;
        line-height: 1;
      }
    }
  }
}

//calendar
.react-datepicker{
  background: #fff;
  border: 0;
  border-radius: 0.75rem;
  margin-top: -2px;
  box-shadow: 0 16px 16px -1px rgba(10,22,70,.1), 0 0 1px rgba(10,22,70,.06);
  .react-datepicker__header{
    background-color: #fff;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    border-bottom: 0px;
  }
}