.text-10 {font-size: 10px;}
.text-13 {font-size: 13px;}
.text-15 {font-size: 15px;}
.text-17 {font-size: 17px;}
.text-18 {font-size: 18px;}
.text-40 {font-size: 40px;}

// Font-Family
.text-roboto{
    font-family: 'Roboto', sans-serif;
}
.text-inter{
    font-family: 'Inter', sans-serif;
}

// Font-color

.text-gray66{
    color: $gray-66;
}
.text-gray93{
    color: $gray-93;
}
.text-dark-gray{
    color: $dark-gray;
}
.text-sliver{
    color: $sliver;
}
.text-corn-blue{
    color: #425466;
}
.text-green {
    color: $green;
}
.text-a6{
    color: #A6B7D4;
}
.text-nero{
    color: #1C1C1C;
}
.text-gray77{
  color:#77838F
}
.text-blue{
    color: $blue;
}
.text-gray96{
    color: $gray96;
}
.text-dark-300{
    color:  $dark-300;
}
.text-bright-red{
    color: $brightred;
}
.text-dark-orange{
    color: $darkorange;
}
.text-blue-magenta{
    color: $blue-magenta;
}
.text-dark-black{
    color: $dark-black;
}

//Background Color
.bg-zumthor{
    background-color: $zumthor;
}
.bg-light-red{
    background-color: $light-red;
}
.bg-dark-gray{
    background-color: #BDBDBD;
}
.bg-dark-300{
    background-color:  $dark-300;
}
.bg-light-red2{
    background-color: $light-red2;
}
.bg-dark-orange{
    background-color: $darkorange;
}
.bg-green {
    background-color: $green;
}
//Border
.border-gray{
    border-color: $gray;
}

// Box-Shadow
.shadow-a {
    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.06);
}

.shadow-b {
    box-shadow: 0px 3px 8px -1px rgba(50, 50, 71, 0.05);
}

.shadow-c {
    box-shadow: 0px 3px 3px rgba(10, 22, 70, 0.1);
}

.shadow-d { 
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.07);
}

.shadow-inset-1{
    box-shadow: inset 0px 1px 0px #EDF2F7, inset 0px -1px 0px #EDF2F7 !important;
}

// object-fit cover
.object-cover {
    object-fit: cover;
}

//Button
// .btn-outline-gray{
//     background-color: transparent;
//     border: 0.5px solid $gray;
//     color: $black;
//     &:active, &:hover{
//         background-color: $gray;
//         color: $black;
//     }
// }

// Form Control
.form-control {
    &:disabled {
        background-image: url(../images/icon/lock-grey.svg);
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        -moz-padding-start: calc(1.25rem - 3px);
        color: $gray96;
        border-color: #E8E8E8;
      }
}

//Check-green
.check-green{
    .form-check-input{
        border-color: #27AE60;
        &:checked{
            background-color: #27AE60;
            background-image: unset;
            + .form-check-label{
                color: #000000;
            }
        }
    }
    .form-check-label{
        color: #848994;
    }
}

